    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Acerca de Latingal</h2>
              <br/>
                <p>A aplicación Latingal é unha ferramenta desenvolvida pola iniciativa conxunta de José Carracedo Fraga, profesor de Lingua Latina da USC e Raúl Gómez Pato, profesor de Latín e Grego de Ensino Secundario, que recolle todos os datos que contiña noutro tempo o anterior dicionario Latín-Galego, elaborado polo propio profesor José Carracedo, e publicado pola editorial Galaxia no ano 1999. Este dicionario hoxe en día está xa fóra dos circuítos comerciais e resulta, en consecuencia, de moi difícil adquisición.</p>
                <p>Debido, pois, á falta de instrumentos en papel para a tradución do latín ao galego, tivemos a idea, cremos que interesante, de publicar os datos do anterior dicionario nunha nova ferramenta, esta App, á que alcumamos Latingal, moito máis eficaz, rápida e versátil que o antigo dicionario.</p>
                <p>O noso compromiso é continuar desenvolvendo novas versións con máis utilidades, así como mellorando e actualizando a base de datos do dicionario.</p>
                <p>A día de hoxe só podemos presentar a App Latingal para móbiles, tabletas e outros dispositivos electrónicos con sistema operativo Android, pero é a nosa intención lanzala na maior brevidade posíbel para o sistema operativo IOS.</p>
                <p>Os posíbeis erros que puidesen atoparse nos datos ou ben no funcionamento da App serán revisados e solucionados o máis axiña posíbel.</p>
                <p>Confiamos e agardamos que esta ferramenta sexa de utilidade para todas as persoas interesadas tanto na Lingua Latina como na nosa lingua, o galego. Temos a esperanza, ademais, de que axude a divulgar e facer máis visíbeis e atractivas ambas as dúas linguas.</p>
                <p>Se queren comunicarse con nós para transmitirnos calquera dúbida ou suxestión, poden facelo a través do correo <a href="mailto:applatingal@gmail.com">applatingal@gmail.com</a></p>
                <p>José Carracedo Fraga e Raúl Gómez Pato, setembro de 2016.</p>
                <br/>
              </div>
        </div>
    </section>
